@font-face {
  font-family: 'Mrs Eaves Bold';
  src: url('./fonts/MrsEaves-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Mrs Eaves Roman';
  src: url('./fonts/MrsEaves-Roman.ttf') format('ttf');
}

@font-face {
  font-family: 'Palantino Light';
  src: url('./fonts/PalatinoLTPro-Roman.ttf') format('ttf');
}

@font-face {
  font-family: 'Palantino Bold';
  src: url('./fonts/PalatinoLTPro-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Palantino Italic';
  src: url('./fonts/PalatinoLTPro-LightItalic.ttf') format('ttf');
}

@font-face {
  font-family: 'Retro Signature';
  src: url('./fonts/RetroSignature.ttf') format('ttf');
}

:root {
  --dark-green: #122223;
  --golden: #DA9E63;
  --cream: #EAE5D2;
  --ease: cubic-bezier(.55,0,.1,1);
}

main {
  height: auto;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: var(--dark-green);
  color: var(--cream);
  text-align: center;
  transition: background-color .6s cubic-bezier(.55,0,.1,1);
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Mrs Eaves Roman';
  font-weight: normal;
  font-size: 42px;
  letter-spacing: 1px;
  line-height: 140%;
  text-transform: uppercase;
  margin-bottom: 32px;
  color: var(--golden);
}

h2 {
  font-family: 'Mrs Eaves Roman';
  font-weight: normal;
  font-size: 28px;
  letter-spacing: 1.2px;
  line-height: 150%;
  text-transform: uppercase;
}

p.sm {
  font-family: 'Palantino Light';
  font-size: 20px;
  line-height: 36px;
}

p {
  font-family: 'Palantino Light';
  font-size: 24px;
  line-height: 140%;  
}

p.large {
  font-size: 24px;
  letter-spacing: 0.5px;
  line-height: 155%;
}

p.testimonial {
  font-family: 'Palatino Italic';
  font-style: italic;
}

.quote {
  font-family: 'Retro Signature';
  font-size: 80px;
  line-height: 80%;
  color: rgba(0,0,0,0.2);
}

.quote-logo-container {
  display: grid;
  place-items: center;
  margin-bottom: 24px;
}

.quote-logo {
  width: 74px;
}

button {
  font-family: 'Mrs Eaves Roman', serif;
  font-size: 15px;  
  letter-spacing: 3.2px;
  text-transform: uppercase;
  padding: 24px 36px;
  background: var(--cream);
  color: var(--dark-green);
  border: none;
  cursor: pointer;
  transition: all 0.5s var(--ease);
}

/* Utilities */

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.font-weight-bold {
  font-weight: 600;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.place-items-center {
  display: grid;
  place-items: center;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.overflow-hidden {
  overflow: hidden;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 100px;
  align-items: flex-start;
}

.bg-cream {
  background: var(--cream);
}

.bg-dark {
  background: var(--dark-green);
}

.text-dark {
  color: var(--dark-green);
}

.text-gold {
  color: var(--golden);
}

.text-cream {
  color: var(--cream);
}

.text-white {
  color: #fff;
}

/* Common to sections */

section {
  position: relative;
  min-height: 100vh;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}

.fade-up {
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: all 1s ease;
}

.fade-up.in-view {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.delay-1 {
  transition-delay: 0.25s;
}

.delay-2 {
  transition-delay: 0.5s;
}

.line {
  height: 1px;
  width: 0;
  background: var(--cream);
  opacity: 20%;
  transition: width 0.6s ease;
}

.line.in-view {
  width: 100%;
}

header {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 180px;
  display: grid;
  place-items: center;
  padding: 20px;
  transform: translateY(-100%);
  transition: all 0.5s var(--ease);
}

header.in-view {
  transform: translateY(0);
}

.header-logo {
  width: 140px;
  margin: 20px;
  text-align: center;
}

.hero-content {
  z-index: 1;
  position: absolute;
  width: 100%;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#about {
  padding: 100px 0 0;
}

.intro-text h1 {
  font-size: 50px;
  font-family: 'Mrs Eaves Roman';
  letter-spacing: 3px;
  margin-bottom: 120px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 42px;
}

.nav-item {
  font-size: 14px;
  font-family: 'Mrs Eaves Roman';
  background: transparent;
  color: var(--golden);
  text-transform: uppercase;
  letter-spacing: 3.2px;
  padding: 24px 40px;
  border: 1px solid #EAE5D220;
  cursor: pointer;
  transition: 0.5s ease;
}

.nav-item:hover {
  background: var(--cream);
  color: var(--dark-green)
}

.hero-image-container {
  position: absolute;
  top: 140px;
  left: 50%;
  transform: translateX(-50%);
}

.hero-image {
  width: 400px;
  opacity: 0;
  transition: width 1.5s var(--ease), opacity 1.5s linear;
}

.hero-image.in-view {
  width: 580px;
  opacity: 1;
}

.about-section {
  position: relative;
  padding: 250px 0;
}

.about-section:last-child {
  margin-bottom: 300px;
}

.about-illustration.octopus {
  position: absolute;
  width: 900px;
  top: 0;
  right: -30%;
}

.about-illustration.butterfly {
  position: absolute;
  width: 750px;
  top: 10%;
  left: -20%;
  opacity: 0.4;
}

.about-illustration.nautilus {
  position: absolute;
  width: 800px;
  top: 15%;
  right: -30%;
}

@media (max-width: 600px) {
  .about-illustration.octopus,
  .about-illustration.butterfly,
  .about-illustration.nautilus {
    width: 420px;
    left: 50%;
    transform: translateX(-50%);
    right: auto;
    top: -320px;
  }

  .illustration.seahorse-2 {
    width: 300px;
    left: 25%;
    transform: translateX(-50%);
    right: auto;
    top: -320px;
  }
}

/* About Section
************************************************************/

.about-text {
  max-width: 540px;
  font-size: 28px;
  opacity: 0;
  transition: opacity 0.8s ease;
  line-height: 165%;
  color: var(--dark-green);
}

.about-text.in-view {
  opacity: 1;
}

.about-text-right {
  margin-left: auto;
  text-align: right;
}

.nautilus {
  position: absolute;
  width: 1000px;
  left: 50%;
  top: 30%;
}

/* Services Section
************************************************************/

#services {
  margin-top: -200px;
  padding: 100px 0;
}

.services-header {
  padding: 24px 0;
}

.seahorse-1 {
  position: absolute;
  width: 520px;
  left: 5%;
  top: 20%;
}

.services-header {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 40px;
  transition: all 0.9s ease;
}

.services-header:hover,
.services-header.open {
  background: #EAE5D210;
}

.services-header svg {
  transition: all 0.9s ease;
}

.services-header.open svg {
  transform: rotateX(180deg);
}

.services-header h2 {
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: all 0.9s ease;
}

.services-header h2.in-view {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.services-items {
  max-height: 0;
  overflow: hidden;
  transition: all 0.8s ease;
}

.services-items.open {
  max-height: 800px;
}

.services-item {
  padding: 40px 40px 80px;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease;
}

.services-items.open .services-item {
  opacity: 1;
  transform: translateY(0);
}

.services-item p {
  letter-spacing: 1.6px;
  margin-bottom: 20px;
}

.services-item:nth-child(2) {
  transition-delay: 0.15s
}

.bird-of-paradise {
  position: absolute;
  top: 30%;
  right: -5vw;
  width: 45vw;
}

/* Process Section
************************************************************/

section#process {
  min-height: 0;
  padding: 0;
  margin: 100px 0;
}

.process-cards {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  cursor: grab;
}

.process-card {
  position: relative;
  flex: 1 0 100%;
  height: 576px;
  display: grid;
  place-items: center;
  background: #EAE5D220;
  padding: 120px 80px;
  margin-right: 80px;
}

.process-card p {
  max-width: 680px;
  margin: 0 auto;
}

.process-card:after {
  content: '';
  z-index: 1;
  display: block;
  position: absolute;
  top: 24px;
  left: 24px;
  bottom: 24px;
  right: 24px;
  border: 1px solid #EAE5D250;
}

.process-card-title {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
}

.process-icon {
  margin-right: 80px;
}

/* Tutors Section
************************************************************/

#tutors {
  padding: 100px 0;
}

.tutors-slider-card {
  width: 100%;
  background: #EAE5D220;
}

.tutors-card-content {
  padding: 40px 80px;
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  grid-gap: 20px;
  align-items: center;
}

.tutor-image {
  margin: 0 auto;
}

.tutor-image img {
  width: 272px !important;
  height: 350px !important;
  object-fit: cover;
  object-position: 50% 50%;
  filter: grayscale(1);
  border: 2px solid #EAE5D250;
}

.tutor-about {
  min-height: 420px;
  display: grid;
  place-items: center;
}

.tutor-about p {
  font-size: 20px;
  line-height: 150%;
}

.tutor-details {
  grid-column: 1/3;
}

.tutor-name {
  font-family: 'Mrs Eaves Roman';
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 12px;
  letter-spacing: 3px;
}

.tutor-qualification {
  font-family: 'Mrs Eaves Roman';
  font-size: 18px;
}

.slider-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.slider-nav-prev,
.slider-nav-next {
  cursor: pointer;
  font-size: 32px;
  padding: 12px;
  transition: all 0.6s var(--ease);
}

.slider-nav-prev:hover,
.slider-nav-next:hover {
  color: var(--golden);
}

.slider-nav-items {
  display: flex;
}

.slider-nav-item {
  cursor: pointer;
  padding: 12px;
  margin: 12px 24px;
  font-family: 'Mrs Eaves Bold';
  font-size: 40px;
  transition: color 0.6s var(--ease);
}

.slider-nav-item.active {
  color: var(--golden);
}

.cream-section {
  padding: 100px 0 0;
  margin-bottom: 200px;
}

#mission {
  min-height: 0;
  padding: 100px 0;
}

.different-text {
  max-width: 660px;
}

/* .octopus {
  width: 1000px;
  position: absolute;
  bottom: -50%;
  right: -20%;
} */

#quote-1 {
  min-height: 0;
  padding: 50px 0;
  margin-bottom: 100px;
}

.quote-1-container {
  width: 540px;
}

#ethos {
  min-height: 0;
  padding: 100px 0;
}

.ethos-text {
  max-width: 760px;
  margin-left: auto;
}

#quote-3 {
  min-height: 0;
  padding: 100px 0;
}

.mushroom {
  width: 1000px;
  position: absolute;
  left: -20%;
  top: -10%;
}

.process-item {
  display: grid;
  grid-template-columns: 120px 1fr;
  align-items: center;
  margin-bottom: 32px;
}

.process-number {
  font-family: 'Mrs Eaves Bold';
  color: var(--golden);
  font-size: 80px;
  opacity: 0.4;
  padding: 12px 48px 12px 24px;
  margin: 0;
}

.process-text {
  margin-right: 20%;
}

/* .pineapple {
  width: 400px;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
} */

.pineapple {
  width: 400px;
  position: absolute;
  top: -20%;
  right: 5%;
}

.quote-2-container {
  max-width: 720px;
  text-align: right;
  margin-left: auto;
}

.seahorse-2 {
  width: 420px;
  position: absolute;
  left: 5%;
  bottom: 10%;
}

#why {
  padding: 100px 0;
}

.why-title {
  margin-bottom: 60px;
}

.why-para {
  max-width: 680px;
  margin-bottom: 50px;
}

/* .butterfly {
  width: 900px;
  position: absolute;
  top: 20%;
  right: -20%;
  opacity: 0.6;
} */

.testimonial-card {
  position: relative;
  width: 100%;
  background: #EAE5D220;
  padding: 120px 80px;
}

.testimonial-card:after {
  content: '';
  z-index: 1;
  display: block;
  position: absolute;
  top: 24px;
  left: 24px;
  bottom: 24px;
  right: 24px;
  border: 1px solid #EAE5D250;
}

.testimonial {
  margin: 0 auto;
  font-style: italic;
  margin-bottom: 48px;
  padding: 0 32px;
}

.illustration {
  z-index: 0;
  pointer-events: none;
}

.illustration.right {
  transform-origin: bottom right;
}

.illustration.left {
  transform-origin: bottom left;
}

.illustration .scale {
  opacity: 0;
  transform: scale(0.5);
  transition: all 0.9s var(--ease) 0.6s;
}

.illustration.in-view .scale {
  opacity: 1;
  transform: scale(1);
}

.nautilus-2 {
  position: absolute;
  width: 750px;
  right: -5%;
  top: -40%;
}

/* Enquiry Form
***************/

#enquiry {
  padding: 100px 0 60px;
}

.enquiry-form-container {
  padding: 32px 0;
}

#enquiryForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 60px;
}

label, input {
  display: block;
  margin-bottom: 12px;
}

label {
  font-family: 'Mrs Eaves Roman';
  font-size: 13px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fff;
}

input {
  width: 100%;
  background: none;
  border: none;
  border-bottom: 1px solid #DA9E6350;
  padding: 10px 0;
  color: var(--cream);
  font-family: 'Palantino';
  font-size: 18px;
  letter-spacing: 1px;
  transition: all 0.15s ease;
}

input::placeholder {
  font-size: 16px;
  color: #EAE5D250;
}

textarea {
  width: 100%;
  background: none;
  border: none;
  border: 1px solid #DA9E6350;
  font-family: 'Palantino';
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 150%;
  padding: 12px;
  color: var(--cream);
  resize: none;
  transition: all 0.15s ease;
}

input:focus-visible,
textarea:focus-visible {
  outline: none;
}

input:focus-visible {
  border-bottom: 1px solid #DA9E63;
}

textarea:focus-visible {
  border: 1px solid #DA9E63;
}

.radio-input {
  display: none;
}

.radio-group {
  padding: 4px 0;
  display: inline-block;
  margin-right: 16px;
}

.radio-label {
  padding: 12px 24px;
  color: var(--cream);
  border: 1px solid #EAE5D220;
  letter-spacing: 2px;
  transition: all 0.5s ease;
}

.radio-label:hover,
.radio-input:checked ~ .radio-label {
  cursor: pointer;
  background: var(--cream);
  color: var(--dark-green);
}

button {
  display: inline-block;
  width: auto;
  cursor: pointer;
  font-size: 14px;
  font-family: 'Mrs Eaves Roman';
  background: var(--cream);
  color: var(--dark-green);
  text-transform: uppercase;
  letter-spacing: 3.2px;
  padding: 22px 40px;
}

button.secondary {
  background: transparent;
  color: var(--golden);
  border: 1px solid #EAE5D220;
  transition: all 0.5s var(--ease);
}

button.secondary:hover {
  background: var(--cream);
  color: var(--dark-green)
}

button svg {
  vertical-align: text-top;
  margin-left: 6px;
}

.span-2 {
  grid-column: 1 / 3;
}

#join {
  padding: 200px 0;
  min-height: 0;
  margin: 0;
}

#join h1 {
  margin-bottom: 60px;
}

#join p {
  max-width: 800px;
  margin: 0 auto;
  /* font-size: 34px;
  line-height: 53px; */
}

#join a {
  color: var(--golden);
}

/*********************************************************************************************************
**********************************************************************************************************

R E S P O N S I V E

*********************************************************************************************************
*********************************************************************************************************/

.mobile-hero-cta {
  display: none;
}

.mobile-services {
  display: none;
}

@media screen and (max-width: 1160px) {
  
  .container {
    max-width: 960px;
    margin: 0 auto;
  }

}

@media screen and (max-width: 1000px) {
  
  .container {
    max-width: 840px;
    margin: 0 auto;
  }

  #enquiryForm {
    grid-template-columns: 1fr;
    grid-gap: 40px;
  }

  .span-2 {
    grid-column: 1 / 2;
  }

}

@media screen and (max-width: 768px) {

  html, body {
    width: 100%;
    overflow-x: hidden;
  }

  .container {
    width: 100vw;
    padding: 0 24px;
  }

  header {
    padding: 0 24px;
  }

  .header-logo {
    width: 90px;
  }

  .header-navigation {
    display: none;
  }

  #hero {
    height: 100vh;
  }

  .hero-image {
    width: 240px;
  }

  .hero-image.in-view {
    width: 360px;
  }

  .mobile-hero-cta {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 120px;
    animation: blink 4s linear infinite;
  }

  @keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 0.5; }
    100% { opacity: 0; }
  }

  .mobile-hero-cta.hide {
    opacity: 0;
    visibility: hidden;
  }

  .illustration {
    width: 125%;
    transform: translateY(300px);
  }

  h1 {
    font-size: 22px;
  }

  .hero-content {
    top: 45%;
  }

  .intro-text h1 {
    font-size: 26px;
    margin: 0;
  }
  
  p,
  p.large {
    font-size: 18px;
  }

  #about {
    min-height: 90vh;
  }

  .about-text {
    padding: 0;
    font-size: 22px;
  }

  .nautilus {
    width: 160%;
    left: 20%;
    top: 20%;
  }

  .desktop-services {
    display: none
  }

  .mobile-services {
    display: block;
    margin-bottom: 100px;
  }

  .mobile-service-item {
    margin-bottom: 50px;
  }

  .mobile-service-item h2 {
    font-size: 22px;
  }

  .services-item p {
    margin-bottom: 20px;
  }

  .bird-of-paradise {
    width: 110%;
    left: -45%;
    bottom: -62%;
  }

  #tutors {
    text-align: left;
    margin-bottom: 150px;
  }

  .tutors-card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    grid-gap: 12px;
  }

  .tutor-image {
    margin: 0;
    order: 1
  }

  .tutor-image img {
    width: 160px !important;
    height: 190px !important;
  }

  .tutor-about-container {
    order: 3;
  }

  .tutor-about {
    min-height: 0;
    margin-bottom: 12px;
  }

  .tutor-about p {
    font-size: 15px;
    margin: 0;
  }

  .tutor-details {
    order: 2;
  }

  .tutor-name {
    color: #Fff;
    font-size: 17px;
    margin-bottom: 4px;
    letter-spacing: 1.6px;
  }

  .tutor-qualification {
    color: #Fff;
    font-size: 15px;
  }

  .slider-nav-items {
    display: none;
  }

  .octopus {
    right: -45%;
    top: -40%;
  }

  #quote-1 {
    padding: 0;
  }

  .quote-1-container {
    max-width: 100%;
  }

  .mushroom {
    left: -45%;
    transform: translateY(100px);
  }

  .process-item {
    grid-template-columns: 32px 1fr;
    align-items: flex-start;
  }

  .process-number {
    font-size: 32px;
    padding: 0;
  }

  .process-text {
    padding: 0;
    margin: 0;
  }

  .pineapple {
    width: 75%;
    right: -36%;
    bottom: 25%;
  }

  #quote-2 {
    min-height: 50vh;
  }

  #quote-2 .quote-logo {
    width: 55px;
    margin-left: 35%;
  }

  .seahorse-left {
    width: 35%;
    left: 5%;
    top: -50%;
    bottom: auto;
    transform: translateY(150px);
  }

  .cream-section {
    padding-bottom: 0px;
  }

  .why-title {
    margin-bottom: 36px;
  }

  .why-para {
    margin-bottom: 36px;
    font-size: 20px;
  }

  .butterfly {
    right: -62%;
  }

  .testimonial-card {
    padding: 50px 28px;
  }
  
  .testimonial-card:after {
    top: 12px;
    left: 12px;
    bottom: 12px;
    right: 12px;
  }
  
  .testimonial {
    width: 100%;
    margin-bottom: 48px;
    padding: 0;
  }

  .testimonial p {
    font-size: 15px;
  }

  .student-name p {
    font-size: 15px;
  }

  .nautilus-2 {
    left: -45%;
    top: -30%;
  }

  .enquiry-form-container {
    padding: 12px 0;
  }

  #enquiryForm {
    grid-gap: 24px;
  }

  input {
    padding: 8px 0 12px;
    margin-bottom: 8px;
  }

  input::placeholder {
    font-size: 13px;
  }

  label {
    font-size: 10px;
    letter-spacing: 2px;
    margin-bottom: 8px;
  }

  .radio-label {
    padding: 8px 18px;
    margin-bottom: 8px;
  }

  button {
    width: 100%;
    padding: 18px 30px;
  }

}